[MASTER]
# Python code to analyze
ignore=venv,.venv

[MESSAGES CONTROL]
# Disable warnings about missing docstrings
# and other project-specific disables
# Existing disables:
disable=missing-module-docstring,
        missing-function-docstring,
        too-few-public-methods,
        missing-final-newline,
        import-outside-toplevel,
        redefined-outer-name,
        broad-exception-caught,
        too-many-return-statements,
        logging-fstring-interpolation,
        duplicate-code

[FORMAT]
# Max line length
max-line-length=120

[REPORTS]
# Disable score report
reports=no
